table {
  width: 100%;
}

.mat-form-field {
  font-size: 14px;
  width: 70%;
}

td,
th {
  width: 25%;
}

.mat-column-id{
  width: 10%;
  max-width: 10%;
}

.mat-column-departmentName{
  width: 80%;
  max-width: 80%;
}